.todo-input {
  flex: 1;
}

.input-btn:hover .input-btn__image {
  fill: rgb(243, 199, 207);
}

.input-btn:active .input-btn__image {
  animation: down-to-back 200ms cubic-bezier(.97, .11, .49, .62);
}

.input-btn__icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  transform: rotate(180deg);
}

@keyframes down-to-back {
  0% {}

  50% {
    transform: translateY(-8px)
  }

  100% {
    transform: translateY(-8px)
  }
}