.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  box-shadow: 4px 5px 15px -1px rgba(0, 0, 0, 0.57);
  border: 1px solid rgb(220, 213, 213);
  background-color: rgb(255, 255, 255);
}

.todo-header {
  font-family: "Quicksand-Light";
  font-size: 56px;
  font-weight: 300;
  color: rgb(223, 198, 202);
  margin: 30px auto;
}

.todo-input {
  flex: 1;
}

.input-btn:hover .input-btn__image {
  fill: rgb(243, 199, 207);
}

.input-btn:active .input-btn__image {
  animation: down-to-back 200ms cubic-bezier(.97, .11, .49, .62);
}

.input-btn__icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  transform: rotate(180deg);
}


.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: auto;
}

.todo-list__item {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  align-items: center;
  gap: 30px;
  width: 100%;
  border-bottom: 1px solid rgb(231, 226, 226);
  min-height: 60px;
  padding: 0 20px;
  font-family: "Quicksand-Regular";
  font-size: 18px;
  color: rgb(83 78 78);
}

.todo-list__item_empty {
  justify-content: center;
  height: 100%;
  border-bottom: none;
}

.todo-list__btn {
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  border-color: rgb(128, 128, 128);
}

.todo-list__text {
  display: inline-block;
  flex: 1;
  white-space: nowrap;
  overflow: auto;
}

@keyframes down-to-back {
  0% {}

  50% {
    transform: translateY(-8px)
  }

  100% {
    transform: translateY(-8px)
  }
}