.todo-list__cbx {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.todo-list__cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.todo-list__cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #b9b8c3;
  transition: all 0.2s ease;
}

.todo-list__cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 6px;
  fill: none;
  stroke: green;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.todo-list__cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}

.todo-list__cbx span:last-child {
  margin-left: 8px;
  flex: 1;
}

.todo-list__cbx span:last-child:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #b9b8c3;
  transform-origin: 0 0;
  transform: scaleX(0);
}

.todo-list__cbx-inp:checked + .todo-list__cbx span:first-child {
  border-color: grey;
  background: white;
  animation: check 0.6s ease;
}

.todo-list__cbx-inp:checked + .todo-list__cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.todo-list__cbx-inp:checked + .todo-list__cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}

.todo-list__cbx-inp:checked + .todo-list__cbx span:last-child {
  color: #b9b8c3;
  transition: all 0.3s ease;
}

.todo-list__cbx-inp:checked + .todo-list__cbx span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

@keyframes check {
  50% {
    transform: scale(1.2);
  }
}
