@font-face {
  font-family: "Quicksand-Light";
  font-style: normal;
  font-weight: 300;
  src: local("Nekst-Black"), url(../public/fonts/Quicksand-Light.woff2),
    url(../public/fonts/Quicksand-Light.woff);
}
@font-face {
  font-family: "Quicksand-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"), url(../public/fonts/Quicksand-Regular.woff2),
    url(../public/fonts/Quicksand-Regular.woff);
}
