body {
  background-color: rgb(231, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}