.todo-footer {
  border-top: 1px solid rgb(231, 226, 226);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-family: "Quicksand-Light";
}

.todo-clr-button {
  transition: all 0.2s linear;
  outline: rgb(244, 216, 221) solid 0;
  border-radius: 4px;
  padding: 4px 8px;
}

.todo-clr-button:hover {
  color: rgb(0, 0, 0);
  outline-width: 1px;
}

.todo-clr-button:active {
  background-color: rgb(244, 216, 221);
}

.radio {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.radio input {
  display: none;
}

.radio label {
  display: inline-block;
  text-align: center;
  width: auto;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px 8px;
  color: #bdbdbdbd;
  transition: all 0.6s linear;
}

.radio input[type="radio"]:checked+label {
  outline: rgb(243, 199, 207) solid 1px;
  border-radius: 5px;
  color: black;
}